/target/

.classpath
*.prefs
.settings/.jsdtscope
*.xml
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.common.component
.project
*.container
velocity.log
pom.xml
pom.xml
pom.xml
*.1
.idea/.name
lab.iml