<div style="float:left;width:96%;margin-left:2%;padding-top:5px;font-size:12px;border-top:1px solid #000000;">
    <div style="margin-left:10px;width:100%;">
        <div style="float:left;width:5%;">&nbsp;</div>
        <div style="float:left;width:10%;"><fmt:message key="requester.name"/></div>
        <div style="float:left;width:20%;"><b id="requester">$!requester</b></div>
        <div style="float:left;width:10%;"><fmt:message key="tat.tester"/></div>
        <div style="float:left;width:20%;"><b id="tester">$!tester</b></div>
        <div style="float:left;width:10%;"><fmt:message key="tat.auditor"/></div>
        <div style="float:left;width:20%;">	<img id="auditor" alt="" src="" border="0" width="60px" height="17px"></div>
        <div style="float:left;width:5%;">&nbsp;</div>
    </div>
    <div style="margin-left:10px;width:100%;">
        <div style="float:left;width:5%;">&nbsp;</div>
        <div style="float:left;width:10%;"><fmt:message key="tat.receive"/></div>
        <div style="float:left;width:20%;"><b id="receivetime">$!receivetime</b></div>
        <div style="float:left;width:10%;"><fmt:message key="tat.audit"/></div>
        <div style="float:left;width:20%;"><b id="checktime">$!checktime</b></div>
        <div style="float:left;width:10%;"><fmt:message key="tat.execute"/></div>
        <div style="float:left;width:20%;"><b id="executetime">$!executetime</b></div>
        <div style="float:left;width:5%;">&nbsp;</div>
    </div>
</div>
<div style="float:left;width:92%;padding-top:10px;font-size:10px;text-align:center;margin-left:4%;border-top:1px solid #000000;">
    <fmt:message key="sample.print.tip"/>
</div>