<div style="float:left;width:96%;margin-left:2%;margin-top:20px;">
    <div style="height:50px;width:100%;">
        <img src="../images/zy_logo.png" style="float:left;margin-left:10%;"/>
        <b style="float:left;font-size:10px;margin-top:25px;margin-left:5%">No:$!{sampleNo}</b>
    </div>
    <div style="border-top:1px solid #000000;">
        <div style="float:left;margin-left:10px;width:100%;">
            <div style="float:left;width:10%"><fmt:message key="patientInfo.examinaim"/></div>
            <div style="float:left;width:58%"><b id="examinaim">$!examinaim</b></div>
            <div style="float:left;width:10%"><fmt:message key="sample.type"/></div>
            <div style="float:left;width:22%"><b id="pType">$!pType</b></div>
        </div>
        <div style="float:left;margin-left:10px;width:100%;">
            <div style="float:left;width:10%"><fmt:message key="patientInfo.patientName"/></div>
            <div style="float:left;width:10%"><b id="pName">$!pName</b></div>
            <div style="float:left;width:5%"><fmt:message key="patient.sex"/></div>
            <div style="float:left;width:8%"><b id="pSex">$!pSex</b></div>
            <div style="float:left;width:5%"><fmt:message key="patient.age"/></div>
            <div style="float:left;width:8%"><b id="pAge">$!pAge</b></div>
            <div style="float:left;width:7%"><fmt:message key="patient.blh"/></div>
            <div style="float:left;width:15%"><b id="blh">$!blh</b></div>
            <div style="float:left;width:5%"><fmt:message key="diagnostic"/></div>
            <div style="float:left;width:27%"><b id="diagnostic">$!diagnostic</b></div>
        </div>
        <div style="float:left;margin-left:10px;width:100%;">
            <div style="float:left;width:10%;" id="staymodetitle">$!staymodetitle</div>
            <div style="float:left;width:23%"><b id="patientId">$!patientId</b></div>
            <div style="float:left;width:5%" id="staymodesection">$!staymodesection</div>
            <div style="float:left;width:30%"><b id="pSection">$!pSection</b></div>
            <div style="float:left;width:5%" id="bedtitle"><fmt:message key="patient.departbed"/></div>
            <div style="float:left;width:27%"><b id="pBed">$!pBed</b></div>
        </div>
    </div>
</div>
